@{
    ViewBag.Title = "AboutMe";
}

<h2>About Me</h2>
<p>I am an independant .NET Developer and Trainer. <a href="http://nicolas-dorier.com/">More info</a>.</p>
<p>I started working on Bitcoin shortly after MtGox disaster and created <a href="https://github.com/NicolasDorier/NBitcoin">NBitcoin</a>, the .NET Bitcoin Framework Compatible Mono.<br />
    The first reason I did that was for learning about Bitcoin. But what used to be an hobby became obsession and took the priority over my other activities.</p>
<p>I saw that by connecting the dots between my past knowledge about cloud computing, embedded devices, .NET and Bitcoin, I could make something different.</p>
<p>So here I am, now helping Bitcoin companies to ship full time. Stopping all non-bitcoin activities I had.</p>
<p>However, coffee is not enough to get more than 24H per days. Even if I want to help for every projects, this is sadly not possible. Writing this book is my solution to empower other developers.</p>
<p>Happy Coding,</p>
